body {
    background-color: lightblue;
    font-family: Verdana;
}

.home-button {
    display: block;
    margin-bottom: 20px;
    padding: 15px 15px;
    background-color: #0044ff;
    color: white;
    border-radius: 0 10px 10px 10px;
}
#titulo-principal-home {
    background-color: orange;
    color: white;
    text-align: center;
    width: 50%;
    padding: 20px;
    margin: 20px auto 50px auto;
    border-radius: 8px;
}